# {{ title }}
**Версия:** {{ version }}  
**Описание:** {{ description }}

{% if spec.info.contact %}
**Контакты:**  
{% if spec.info.contact.name %}- Имя: {{ spec.info.contact.name }}{% endif %}  
{% if spec.info.contact.email %}- Email: {{ spec.info.contact.email }}{% endif %}  
{% if spec.info.contact.url %}- URL: {{ spec.info.contact.url }}{% endif %}
{% endif %}

{% if spec.info.license %}
**Лицензия:** {{ spec.info.license.name }}  
{% if spec.info.license.url %}[Ссылка на лицензию]({{ spec.info.license.url }}){% endif %}
{% endif %}

---

## 🚀 Эндпоинты
{% for tag, endpoints in endpoints_by_tag.items() %}

{% for endpoint in endpoints %}

{% include 'endpoint.md.j2' %}

{% endfor %}
{% endfor %}

{{ schemas_section }}