##### Ответы  
{% for response in responses %}
###### **Код {{ response.code }}:** {{ response.description }}

{% for content in response.content %}
  - **Тип контента:** `{{ content.content_type }}`  
  {% if content.schema_ref %}
    - **Схема:** [{{ content.schema_title or content.schema_ref }}](#{{ content.schema_ref.lower() }})
  {% elif content.schema_type %}
    - **Тип:** {{ content.schema_type }}
  {% endif %}

  {% if content.examples %}
    {% for example in content.examples %}
  - **{{ example[0] }}:**
    
```json
{{ example[1] | format_example(500) }}
```
    {% endfor %}
  {% endif %}

{% endfor %}
{% endfor %}