[run]
source = domain,ports,adapters,application,rendering
omit = 
    */tests/*
    */__pycache__/*
    */templates/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
precision = 2
show_missing = True
skip_covered = False

[html]
directory = tests/htmlcov

