## 📖 Схемы данных
{% for schema in schemas %}
### {{ schema.name }}
{% if schema.title %} - **Название:** {{ schema.title }}{% endif %}
 - **Тип:** `{{ schema.type }}`
{% if schema.description %} - **Описание:** {{ schema.description }}{% endif %}
{% if schema.required_fields %} - **Обязательные поля:** `{{ schema.required_fields|join(', ') }}`{% endif %}

{% if schema.properties %}
#### **Свойства:**
| Имя | Тип | Обязательный | Описание |  Формат |
|-----|-----|--------------|----------|--------|
{% for prop in schema.properties %}
| `{{ prop.name }}` | {{ prop.type }} | {{ prop.required }} | {{ prop.description }}  | {{ prop.format }} |
{% endfor %}
{% endif %}

#### Примеры параметров
{% for prop in schema.properties %}

**{{prop.name}}:**
{% if prop.examples | length > 0 %}
{% for example in prop.examples %}
**{{ example[0] }}:** `{{ example[1] | format_example(50) }}`{% if not loop.last %}<br>{% endif %}
{% endfor %}
{% else %}
⚠️ *Пример отсутсвует*
{% endif %}

{% endfor -%}

{% if schema.example %}
**Пример:**  
```json
{{ schema.example|tojson(indent=2) }}
```
{% endif %}
{% endfor %}
